<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=d8d0d71c-b9a2-4288-bb6a-a57700812a29.sqlserver.sequelizer.com;Database=dbd8d0d71cb9a24288bb6aa57700812a29;User ID=oejgituchdmyzjal;Password=XcpwwJcsnrgf4K4R3rxaTa3S3CvFt8ko5Ywx4Rh8gebcNSjNnUdM6bPXiEC2oD8o;"/>
  </connectionStrings>
</configuration>
